/* Estilos gerais para dispositivos móveis */
@media (max-width: 768px) {
    header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000; /* Garante que o cabeçalho esteja acima do conteúdo */
    }

    .product-page {
        padding: 10px;
        margin-top: 90px; /* Ajuste o espaço superior para evitar sobreposição com o cabeçalho */
    }

    .product-info .contact-btn {
        margin-bottom: 40px; /* Ajuste a distância entre os botões para dispositivos móveis */
    }
}

/* Estilos para dispositivos menores, como smartphones */
@media (max-width: 480px) {
    .product-page {
        padding: 5px;
        margin-top: 100px; /* Ajuste o espaço superior para evitar sobreposição com o cabeçalho */
    }

    .product-info .contact-btn {
        margin-bottom: 40px; /* Ajuste a distância entre os botões para dispositivos menores */
    }
}
