/* Estilos gerais para dispositivos móveis */
@media (max-width: 768px) {
    .product-page {
        padding: 10px;
        margin-top: 100px; /* Ajuste o espaço superior para evitar sobreposição com o cabeçalho */
    }
}

/* Estilos para dispositivos menores, como smartphones */
@media (max-width: 480px) {
    .product-page {
        padding: 5px;
        margin-top: 80px; /* Ajuste o espaço superior para evitar sobreposição com o cabeçalho */
    }

    header {
        z-index: 1000; /* Garante que o cabeçalho tenha um z-index maior para sobrepor outros elementos */
    }
}
