/* Estilos gerais para dispositivos móveis */
@media (max-width: 768px) {
    header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1000; /* Garante que o cabeçalho esteja acima do conteúdo */
    }

    .product-page {
        padding: 10px;
        margin-top: 90px; /* Ajuste o espaço superior para evitar sobreposição com o cabeçalho */
    }

    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center; /* Centraliza os botões */
    }

    .product-info .btn {
        margin-bottom: 20px; /* Adiciona distância entre os botões */
        width: 100%; /* Garante que os botões ocupem toda a largura disponível */
        max-width: 300px; /* Define uma largura máxima para os botões */
    }
}

/* Estilos para dispositivos menores, como smartphones */
@media (max-width: 480px) {
    .product-page {
        padding: 5px;
        margin-top: 100px; /* Ajuste o espaço superior para evitar sobreposição com o cabeçalho */
    }

    .product-info {
        padding: 0 10px; /* Adiciona algum preenchimento lateral */
    }

    .product-info .btn {
        margin-bottom: 15px; /* Ajusta a distância entre os botões para dispositivos menores */
        width: 100%; /* Garante que os botões ocupem toda a largura disponível */
        max-width: 280px; /* Ajusta a largura máxima para dispositivos menores */
    }
}
